body{
    background-image: url(ss.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position:fixed;
    background-size: 100%;
    font-family:verdana;
    font-family:tahoma;
}
p{
    font-size: 30px;
    color: black;
}
.p1{
    text-shadow: white 1px 1px 3px; 
}