.div{
	height:200px;
	width:400px;
	margin-top:50px;
	font-size:20px;
	font-family:cursive;
	background:linear-gradient(to right,red,purple,navy);
	color:whitesmoke;
	display:flex;
	align-items:center;
	justify-content:center;
	transition:all 0.5s ease;
}
body{
	margin:0;
	background:white;
}
body:hover{
	background:black;
}
.anim1:hover{
	box-shadow:inset 0 0 0 30px blue;
}	
.anim2{
	opacity:0.6;
}
.anim2:hover{
	opacity:1;
}	
.anim3:hover{
	transform:scale(1.3);
}	
.anim4:hover{
	border-radius:100px;
	width:500px;
}	
.anim5:hover{
	transform:rotatez(30deg);
	margin-top:100px;
	margin-bottom:100px;
}
.a1{
	animation-duration:8s;
	animation-name:spin;
	animation-iteration-count:infinite;
}
@keyframes spin{
	0%{transform:rotatez(0deg);}
	20%{box-shadow:inset 0 0 0 30px blue;}
	40%{color:yellow;}
	60%{font-family:Comic Sans MS, Comic Sans, cursive;}
	80%{opacity:0;}
	100%{transform:rotatez(360deg);}
} 
