.a1,.a2{
	text-decoration:none;
    color:rgb(9, 43, 59);
	padding:6px;	
}
.a1:hover,.a2:hover{
	text-decoration:none;
	color:red;
	padding:6px;
	box-shadow:0px 0px 5px blue;
	border-radius: 5px;
}	
header{
	background:linear-gradient(to right, white,whitesmoke,blue);
	padding:10px;
}
body{
	background:blue;
	font-family:cursive;
	color:white;
	margin:0px;
}
input:valid{
	background:lime;
}
input:invalid{
	background:red;
}
input:focus{
	border:5px solid red;
}
input[type="submit"]{
	background:linear-gradient(to right, black,purple,red);
	color:white;
	font-family:cursive;
	padding:10px;
	border:none;
}
h1{
	font-size:55px;
}
p{
	font-size:25px;
}