.slider{
    width: 500px;
    height: 300px;
    overflow: hidden;
}
.slide{
    min-width: 500px;
    height: 300px;

}
.slides{
    display: flex;
    overflow: hidden;
    transition: all 0.5s ease;
}
.slide:nth-child(1){
    background: rgb(16, 121, 202);
}
.slide:nth-child(2){
    background: rgb(16, 66, 202);
}
.slide:nth-child(3){
    background: rgb(35, 16, 202);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-direction: column;
}
.arrow{
    color: rgb(43, 220, 226);
    font-size: 50px;
    margin: 0 20px;
}
.slider-box{
    display: flex;
    justify-content: center;
    align-items: center;
}